/* laptop  : 1280 ~ 1599 */
/* css/mainpage/f_pc.css */

@media screen and (min-width:1280px) and (max-width:1599px) {
  /* design 기준 : 1280~px */

  #wrap {
    position:relative; /*z-index:1000;*/
    width: auto; height: auto;
    box-sizing: border-box;
  }
  /* wrap // ================================= */
  
  #headBox {
    position:fixed; top: 0; left: 0;
    z-index: 1500;
    width: 100%;
    height:auto;
    border-bottom:2px solid #fab40a;
    background-color: #fff;
  }
  .headBox_inner {
    width: 100%; height: 80px;
    margin:auto;
  }
  h1 a {
    position:absolute;
    width: 70px; height: 70px;
    margin-top:5px; margin-left:100px; 
    background-image: url("../../img/download.png");
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position: 50% 50%;
  }
  .nav_box {
    width: 700px; height: 70px;
    margin:auto;
  }
  .nav_box li {
    float:left;
    width:80px; height:20px;
    margin:auto; 
    margin-top:30px; margin-left:30px;
    text-align: center;
    font-weight:700;
    font-size:20px;
  }
  .nav_box ol li a:hover,
  .nav_box ol li a:focus {
    color:#fa9b37;
  }
  .nav_box_02 {
    width: 150px; height: 70px;
    margin:auto;
    margin-top:-70px; margin-right:100px;
  }
  .nav_box_02 ul li {
    float:left;
    width:60px; height:20px;
    margin-top:10px; margin-left:10px; margin-bottom:5px;
    text-align: center;
    font-weight:700;
    font-size:14px;
  }
  .nav_box_02 ul li a:hover,
  .nav_box_02 ul li a:focus {
    color:#fab40a;
  }
  .nav_box_02 ul li:nth-child(4) {
    background-image: url("../../img/search.png");
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor:pointer;
  }
  
  /* headBox // ============================== */
  
  #viewBox {
    width: 1200px; 
    height:auto; 
    margin:auto;
    padding-top:100px;
    background-image: linear-gradient(90deg,#F9BC0B, #F69230, #B6682A, #7A2123);
  }
  .viewBox_inner { 
    position:relative;
    width: 100%; height: 700px; box-sizing: border-box;
    margin:auto;
    background-image: url("../../img/main007.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .viewBox_btn {
    position: absolute;
    width: 95%; height: 0;
    top: 50%; left:50%; transform: translate(-50%);
  }
  
  .viewBox_btn button{
      width: 50px;
      height: 50px;
      font-size: 32px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      transform: translateY(-50%);
      cursor:pointer;
  }
  
  .next_button {
    /* position: absolute; z-index: 1; */
      float:right;
  }
  .prev_button {
    /* position: absolute; z-index: 1; */
      float:left;
  }
  
  /* viewBox // ================================== */
  
  #contentBox {
    width: 100%; 
    height:auto;
    margin:auto;
    padding-top:70px; padding-bottom:100px;
    /* border-bottom:1px solid #333; */
    /* background-color: #555; */
  }
  .contentBox_inner {
    width: 1100px; height: 600px;
    margin:auto;
    /* background-color: #ace; */
  }
  .menu_narr {
    width: 300px; height: 100px;
    margin-top:50px;
    margin:auto;
  }
  .best {
    width: 200px; height: 200px;
    margin:auto;
    font-size:30px;
    color:#151515;
    text-align: center;
    font-weight:700;
    text-transform: uppercase;
  }
  
  .burger_menu {
    width: 1100px; height: 400px;
    margin:auto;
    /* background-color: #bbc; */
  }
   
  .burger_menu  li {
    float:left;
    width: 150px; height: 150px;
    text-align: center;
    margin:auto;
    margin-top:30px;
    margin-left:50px; margin-right:12px;
    border-radius:50%;
    /* background-color: #aec; */
    transition:all 300ms ease;
  }
  
  .burger_menu  li .img_set {
    width: 100%; height: 200px; /*background-color: #caa;*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .burger_menu li:nth-child(1) .img_set { background-image: url("../../img/2.jpg");}
  .burger_menu li:nth-child(2) .img_set { background-image: url("../../img/img_burger25.jpg");}
  .burger_menu li:nth-child(3) .img_set { background-image: url("../../img/img_burger46.jpg");}
  .burger_menu li:nth-child(4) .img_set { background-image: url("../../img/img_burger06.jpg");}
  .burger_menu li:nth-child(5) .img_set { background-image: url("../../img/img_burger03.jpg");}
  .burger_menu li:hover,
  .burger_menu li:focus {
    background-size: 105% auto;
  }
  .burger_menu .product {
    margin-top:10px;
  }
  .burger_menu li dl:first-of-type { margin-bottom:10px; padding-bottom:10px; border-bottom: 1px solid #333;}
  
  .menu_more {
    width: 150px; height: 30px;
    margin:auto;
    padding-top:10px;
    text-align:center;
    border:1px solid #333;
    /* background-color: #faf; */
    background-size: 90% auto;
  }
  .hr {
    border-bottom:1px solid #333;
  }
  
  /* contentBox // ============================ */
  
  #orderBox {
    width: 100%; 
    height: auto;
    margin-top:200px; 
    padding-bottom:200px;
    /* background-color: #bbb; */
  }
  .orderBox_inner {
    width: 1300px; height: 500px;
    /* margin-top:100px; */
    margin:auto;
    background-image: url("../../img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background-color: #a5c; */
  }
  .order {
    width: 250px; height:auto;
    margin-left:210px;
    padding-top:200px;
    padding-bottom:150px;
    /* box-sizing: border-box; */
    font-size:32px;
    text-transform: uppercase;
    color:#fff;
    /* background-color: #fff; */
  }
  .order:hover,
  .order:focus {
    border:1px solid #fff;
  }
  
  /* orderBox // ============================== */
  
  #locationBox {
    width: 1600px; height: 400px;
    margin:auto;
    margin-top:100px; margin-bottom:300px;
    /* background-color: #030303; */
  }
  .locBox_inner {
    width: 100%; height: 100%;
    margin:auto;
    background-image: url("../../img/huden-harui-iCTKQBWNhVU-unsplash.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    transition: all 300ms ease;
  }
  .locBox_inner:hover,
  .locBox_inner:focus {
    background-size: 105% auto;
  }
  .location_narr {
    padding-top:50px;
    font-size:32px; font-weight: 800;
    text-align: center;
    color:#fff;
  }
  /* locationBox // =========================== */
  
  #introduceBox {
    width:1100px; height: 500px;
    margin:auto;
    margin-bottom:200px;
    /* background-color: #ccc; */
  }
  .introBox_inner {
    width: 100%; height: 100%;
    margin:auto;
    background-image: url("../../img/piotr-szulawski-DCmUhk54F6M-unsplash.jpg");
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 300ms ease;
  }
  .introBox_inner:hover,
  .introBox_inner:focus {
    background-size: 105% auto;
  }
  .introduce_narr {
    padding-top:200px;
    font-size:32px; font-weight: 800;
    text-align:center;
    color:#151515;
  }
  
  
  /* introduceBox // ========================== */
  
  #infoBox {
    width: auto;
    height:auto;
    padding-top:40px; padding-bottom:70px;
    /* border-top:5px solid #fab40a; */
    background-color: #fab40a;
  }
  .infoBox_inner {
    width:1100px; height: 200px;
    margin:auto;
    /* background-color: #faf; */
  }
  .infoBox_inner li:nth-child(1) { 
    float:left;
    width: 100px; height: 180px;
    margin-right:10px;
    background-image: url("../../img/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /* .infoBox_inner li {
    float:left;
    margin:auto;
    margin-left:180px;
    margin-right:5px;
    padding:3px 3px 3px 3px;
    border:1px solid #333;
    background-color: #fff;
  } */
  .infoBox_inner li:nth-child(2) { float:right; font-weight:700; margin-bottom:10px;}
  .infoBox_inner li:nth-child(3) { font-weight:700; margin-bottom:10px;}
  .infoBox_inner li:nth-child(4) { margin-bottom:10px;}
  .infoBox_inner li:nth-child(5) { margin-bottom:10px;}
  .infoBox_inner li:nth-child(6) { margin-bottom:10px;}
  .infoBox_inner li:nth-child(7) { margin-bottom:10px;}
  .infoBox_inner li:nth-child(8) { margin-bottom:10px;}
  
  /* infoBox // ================================ */
  }