/* pc : 1600~ */
/* css/ */

@media screen and (min-width:1600px) {

#wrap {
  position:relative; z-index:1000;
  width: auto; height: auto;
  box-sizing: border-box;
}
/* wrap ================================= */

#headBox {
  position:fixed;
  width: 100%;
  height: 130px;
  background-color: #ddd;
}
.headBox_inner {
  width: 1100px; height: 130px;
  margin:auto;
  background-color: #fff;
}
h1 a {
  position:absolute;
  width: 90px; height: 90px;
  margin-top:15px; margin-left:10px; 
  background-image: url("../../img/download.png");
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: 50% 50%;
  /* background-color: #0af; */
}
.navBox {
  float:right;
  width: 600px; height: 100px;
  margin-top:15px; margin-right:10px;
  /* background-color: #bbd; */
}
.navBox ul {
  width: 100%; height: auto;
  /* background-color: #aba; */
}
.navBox .ul_01 > li {
  float:left;
  width:170px; height:50px;
  margin-left:20px;
  text-align: center;
  /* background-color: #0cf; */
}
.navBox .ul_02 > li {
  /* position:relative; */
  float:left;
  width:70px; height:40px;
  margin-left:20px;
  text-align: center;
  /* background-color: #fc0; */
}
/* headBox ============================== */

#viewBox {
  width: 100%; 
  height:700px; 
  /* padding-top:200px; */
  background-color: #aaa;
}
.viewBox_inner { 
  width: 100%; height: 700px; box-sizing: border-box;
  margin:auto;
  background-image: url("../../img/main007.jpg");
  background-size: 1100px 580px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  /* background-color: #ffc; */
}
.prev_button {
  left:22%;
  position: absolute;
    top: 10%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    /* visibility: hidden; */
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    z-index: 1;
    /* opacity: 0; */
    transition: all 500ms ease;
    cursor:pointer;
}
.next_button {
  right:22%;
  position: absolute;
    top: 10%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    /* visibility: hidden; */
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    z-index: 1;
    /* opacity: 0; */
    transition: all 500ms ease;
    cursor:pointer;
}
/* viewBox ================================== */

#contentBox {
  width: 100%; 
  height:auto;
  padding-top:100px; padding-bottom:50px;
  background-color: #555;
}
.contentBox_inner {
  width: 1100px; height: 500px;
  margin:auto;
  background-color: #ace;
}
.menuNarr {
  width: 300px; height: 100px;
  margin-top:50px;
  margin:auto;
}
.menuNarr .best {
  float:left;
  width: 150px; height: 50px;
  margin-top:50px;
  font-size:24px;
}
.menuNarr .new {
  float:right;
  width: 150px; height: 50px;
  margin-top:50px;
  font-size:24px;
}
.burger_menu {
  width: 1100px; height: 350px;
  margin:auto;
  background-color: #bbc;
}

.burger_menu  li {
  float:left;
  width: 150px; height: 150px;
  text-align: center;
  margin:auto;
  margin-top:50px;
  margin-left:50px; margin-right:12px;
  border-radius:50%;
  background-color: #aec;
}
.burger_menu li:nth-child(1) {
  background-image: url("../../img/img_burger53.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.burger_menu li:nth-child(2) {
  background-image: url("../../img/img_burger56.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.burger_menu li:nth-child(3) {
  background-image: url("../../img/img_burger40.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.burger_menu li:nth-child(4) {
  background-image: url("../../img/img_burger60.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}
.burger_menu li:nth-child(5) {
  background-image: url("../../img/img_burger58.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
}

/* contentBox ============================ */

#orderBox {
  width: 100%; 
  height: auto;
  padding-top:200px; padding-bottom:200px;
  /* padding-left:410px; padding-right:410px; */
  background-color: #bbb;
}
.orderBox_inner {
  width: 1100px; height: 450px;
  margin-top:100px;
  margin:auto;
  background-image: url("../../img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: #a5c; */
  transition:all 300ms ease;
}
.orderBox_inner:hover ,
.orderBox_inner:focus {
  background-size:95% auto;
}
.order {
  width: 200px; height: 100px;
  margin-left:180px;
  padding-top:100px;
  font-size:32px;
  color:#fff;
  /* background-color: #fff; */
}
.go_button {
  width: 150px; height: 50px;
  margin-left:180px; margin-top:50px;
  font-size:24px;
  color:#fff;
  border-radius:1.5rem;
  background-color: #111;
}
/* orderBox ============================== */

#subcontentBox {
  width: 100%;
  height: auto;
  padding-top:100px; padding-bottom:100px;
  background-color: #777;
}
.subcontentBox_inner {
  width: 1100px; height: 800px;
  margin:auto;
  /* background-color: #dff; */
}
.location {
  width: 1100px; height: 400px;
  margin:auto;
  /* background-color: #aae; */
}
.location_image {
  float:left;
  width: 550px; height: 400px;
  background-image: url("../../img/henry-perks-BJXAxQ1L7dI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: 50% 50%;
  /* background-color: #fff; */
  transition:all 300ms ease;
}
.location_image:hover ,
.location_image:focus {
  background-size:120% auto;
}
.location_Narr {
  margin-left:180px;
  padding-top:100px;
  font-size:32px;
  color:#111;
}
.location_button {
  width: 150px; height: 50px;
  margin:auto;
  margin-left:180px; margin-top:100px;
  font-size:24px;
  color:#fff;
  border-radius:1.5rem;
  background-color: #111;
}
.introduce {
  width: 1100px; height: 400px;
  margin:auto;
  /* background-color: #bd1; */
}
.introduce_image {
  float:right;
  width: 550px; height: 400px;
  background-image: url("../../img/scott-graham-5fNmWej4tAA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: 50% 50%;
  /* background-color: #fff; */
  transition:all 300ms ease;
}
.introduce_image:hover ,
.introduce_image:focus {
  background-size:120% auto;
}
.introduce_Narr {
  margin-left:180px;
  padding-top:100px;
  font-size:32px;
  color:#111;
}
.introduce_button {
  width: 150px; height: 50px;
  margin:auto;
  margin-left:180px; margin-top:100px;
  font-size:24px;
  color:#fff;
  border-radius:1.5rem;
  background-color: #111;
}

/* subcontentBox ========================= */


#infoBox {
  width: auto;
  height:auto; min-height:360px; min-height:22.5rem;
  padding-top:40px; padding-bottom:70px;
  background-color: #efefef;
}
.infoBox_inner {
  width: 1100px; height: 250px;
  margin:auto;
  padding-top:150px;
  background-color: #faf;
}
/* #footBox {
  z-index: 1000;
  box-sizing: border-box;
  padding: 1.875rem 0;
  width: 100%;
  height: auto;
  background-color: #333
} */
/* infoBox ================================ */
}